body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #264653 !important; 
}

#calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    background-color: #31393c;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 30px;
    box-shadow: black 0 0 9px 9px;
}

#calculator-screen {
    padding-left: 240px;
    padding-right: 240px;
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: #f3e9d2;
    margin-top: 20px;
    box-shadow: inset black 0 0 4px 4px;
}

#buttons-container{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

#top-buttons-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 5px;
}

#clear-button {
    padding: 25px;
    box-shadow: inset black 0 0 3px 3px;
}

#backspace-button {
    padding: 25px;
    box-shadow: inset black 0 0 3px 3px;
}

#number-line {
    display: flex;
}

.row-styles {
    display: flex;
    gap: 1px;
    flex: 1;
}

.curved-borders {
    border-radius: .5em;
}


.number-buttons {
    padding: 49px;
    font-size: 40px;
    flex: 1;
    background-color: #c6dabf;
    box-shadow: inset black 0 0 3px 3px;
}

.operator-buttons {
    box-shadow: inset black 0 0 3px 3px;
    background-color: #1a936f;
    color: #fefae0;

}

.numbers {
    color: black;
    font-size: 30px;
}




.operators {
    padding: 49px;
    font-size: 40px;
    background-color: #1a936f;
    box-shadow: inset black 0 0 3px 3px;
    flex: 1;

}

.buttons {
    color: #f3e9d2;
}

.buttons:hover {
    box-shadow: inset black 0 0 5px 5px !important;
}
/* .operator-buttons-background {
    background-color: #1a936f;
    color: red;
} */

.operator-button-pressed {
    box-shadow: inset black 0 0 5px 5px !important;
} 

.top-buttons {
    padding: 45px;
    font-size: 35px;
    background-color: #1a936f;
    color: #f3e9d2;
    box-shadow: inset black 0 0 3px 3px;
    flex: 1;

}