body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #008080;
}

#calculator-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    background-color:#065535;
    background: linear-gradient(-45deg, #065535, green);
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 30px;
    box-shadow: black 0 0 9px 9px;
}

#calculator-screen {
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: lightgrey;
    margin-top: 20px;
    background: linear-gradient(45deg, lightgrey, gray);
    box-shadow: inset black 0 0 4px 4px;
}

#buttons-container{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

#clear-button-container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#clear-button {
    padding: 37px;
    box-shadow: inset black 0 0 2px 2px;
}

#number-line {
    display: flex;
}

.row-styles {
    display: flex;
    gap: 1px;
    flex: 1;
}

.curved-borders {
    border-radius: .5em;
}

.buttons {
    padding: 49px;
    font-size: 40px;
    flex: 1;
    box-shadow: inset black 0 0 2px 2px;
}

.numbers {
    color: black;
    font-size: 30px;
}